# Build output folders
/Debug/
/Release/

# STM32CubeIDE-specific metadata
/.settings/
/.metadata/
*.launch

# Core generated code (only if you don't want to commit them)
# Uncomment the following if you generate code via CubeMX and don't want them in git
# /Drivers/
# /Middlewares/
# /Core/
